@charset "utf-8";
/* CSS Document */
.container-fluid {
	margin: auto;
	max-width: 950px;
}
.jumbotron {
	background-color: transparent !important;
}
body {
	font-family: 'Inconsolata', monospace;
}
span {
	color: black;
}
figcaption {
	font-size: 22px;
}
.fa:hover {
	color: grey;
}
nav {
	font-size: 20px;
	background-color: white;
}
