@charset "utf-8";
/* CSS Document */
.jumbotron {
	background-color: transparent !important;
}

span {
	color: black;
}

figcaption {
	font-size: 22px;
}

.fa:hover {
	color: grey;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

figcaption{
	font-size: 16px;
}